/* All */
:root {
    --primary: #9B15BD;
    --secondary: #37bd15;
    --cardBorder: #ba63d1;
    /* --cardInterior: #650ea9; */
    --buttonInterior: #831ad4a8;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid var(--secondary); */
}

body {
    background-color: black;
    color: #fff;
    cursor: crosshair;
}


/* ------ */
/* Header */
/* ------ */

header > *{
    margin-bottom: 25px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: #fff;

    img {
        width: 16%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

/* ---- */
/* Main */
/* ---- */
main > *{
    margin-bottom: 25px;
}
main {
    text-align: center;
    margin: auto;
    width: 70%;

    /* Section a1 */

    #a1 {
        display: flex;
        justify-content: center;
        width: 100%;

        section {
            width: 50%;

            img {
                width: 100%;
                border-radius: 20px;
            }



            

        }
        #a1B {
         padding: 24px;  
         #a1C {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .tinyCard{
                img{
                    width: 100%;
                }
                width: 25%;
                border-radius: 20px;
                border: 3px solid var(--cardBorder);
                /* background-color: var(--cardInterior); */
            }
        }     
        }
    }
}

/* Competence Card */
#a2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
.compCard{
width: 25%;
/* background-color: var(--cardInterior); */
border: 3px solid var(--cardBorder);
border-radius: 20px;
section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}
article{
    width: 25%;
img{
    width: 100%;
}
    
}
}
}

/* Card */
#a3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
   
}
.card {
    width: 300px;
    /* background-color: var(--cardInterior); */
    border: 3px solid var(--cardBorder);
    box-shadow: 0px 0px 15px 10px #b812ff96;
    padding: 15px;
    color: rgb(124, 238, 251);
    border-radius: 20px;
    margin-bottom: 40px;
    img {
        width: 100%;
        border-radius: 20px;
    }

    

    h3 {
        font-size: 25px;
        font-weight: bold;
    }

    input {
        cursor: pointer;
        background-color: var(--buttonInterior);
        color: #fff;
        border: 3px solid var(--cardBorder);
        border-radius: 5px;
        width: min-content;
        padding: 8px;
        text-align: center;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}
#a4{
    display: flex;
   > section, form{
    width: 50%;
   }
   #a4B{
    display: flex;
    align-items: center;
    flex-direction: column;
    >*{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: #fff;
       }
   }
   form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    *{
        margin-bottom: 5px;
    }
    #bigBox{
        display: flex;
        flex-direction: column;
        label{
            text-align: start;
        }
         input{
            height: 70px;
         }
    }
    input[type=submit] {
        cursor: pointer;
        background-color: #ffffff41;
        color: #fff;
        border: 3px solid var(--cardBorder);
        border-radius: 5px;
        width: min-content;
        padding: 8px;
        text-align: center;
    }
     div {
    display: flex;
    flex-direction: column;
    text-align: start;
    section{
    display: flex;
    flex-direction: column;
   }
   
}
   }
.tinyCard{
    img{
        max-width: 64px;
    }
    width: fit-content;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid var(--cardBorder);
    /* background-color: var(--cardInterior); */
}
}

/* Footer */
p{
    text-align: center;
    a{
        cursor: crosshair;
        color: #fff;
        text-decoration: none;
    }
}

/* ----- */
/* Media */
/* ----- */

@media screen and (max-width: 600px) {
    #a2{
        flex-direction: column;
        .compCard{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    #a1C{
        flex-direction: column;
        width: 100%;
        .tinyCard{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    nav ul li{
        display: none;
    }
}